<!DOCTYPE html>
<html ng-app='myApp'>  
<head>
  <title>Simple app</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"> </script>
</head>
<body>

  <div ng-controller="FirstController">

    <form name="person_form" ng-submit="addPerson()" novalidate>
      <input name="name" ng-model="person.name" type="text" placeholder="Nombre" required>

      <input name="age" ng-model="person.age" type="number" placeholder="Edad" required>

      <div ng-show="submitted">
        <span ng-show="person_form.name.$invalid"> Nombre Obligatorio </span>
        <span ng-show="person_form.age.$invalid"> Edad Invalida </span>
      </div>

      <button 
              class="button" 
              type="submit">
              Add
      </button>
    </form>

    <hr>
    <div>
      <input ng-model="search" type="text">
      <div>
        <span ng-repeat="person in people | filter:search">
          {{ person.name }} - {{ person.age }} 
          <button ng-click="remove(person)" class="button">Delete</button>
          <br>
        </span>
      </div>

    </div>

  </div>

  <script src="07b.js"> </script>
</body>
</html>

<!--

<input name="name" ng-model="person.name" type="text" placeholder="Nombre" ensure-unique="name" required>

-->
